.comment-form {
  background-color: #ffffff;
  margin-top: 4em;
  padding: 1em;
  border-radius: 10px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

form label,
input[type="text"] {
  font-size: 0.8em;
  color: #2d3848;
}

form label {
  margin-bottom: -0.8em;
  font-weight: 700;
}

.comment-form input::placeholder {
  font-size: 0.9em;
}

.comment-form input[type="text"] {
  padding: 0.5em;
  font-weight: 500;
  outline: transparent;
  width: 60%;
  border-radius: 4px;
  margin-bottom: 1em;
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
}

textarea {
  resize: none;
  width: 60%;
  padding: 0.5em;
  outline: transparent;
  border-radius: 4px;
  min-height: 6em;
}

textarea,
textarea::placeholder {
  font-size: 0.9em;
  color: #2d3848;
  font-weight: 500;
  font-family: "Bebas Neue", cursive;
  font-family: "Montserrat", sans-serif;
}

button {
  padding: 0.7em 0.5em;
  text-align: center;
  width: 100px;
  margin-top: 2em;
  border: 1px solid transparent;
  outline: transparent;
  cursor: pointer;
  /* background-color: #ff87ac; */
  font-weight: 700;
  color: #2d3848;
  border-radius: 2px;
  margin-right: -1em;
}

.empty-message {
  font-size: 0.9em;
  color: red;
}

.button-wrapper {
  width: 60%;
  text-align: right;
}

@media screen and (max-width: 577px) {
  .comment-form input[type="text"],
  textarea {
    width: 96%;
  }

  .button-wrapper {
    width: 96%;
  }
}
