.newspage {
  padding: 2em 8em;
}

.newspage-header {
  display: flex;
  align-items: center;
  align-content: center;
}

.newspage-date {
  font-size: 0.8em;
  color: #2d3848;
  border-right: 1px solid #2d3848;
  margin-right: 1em;
  padding-right: 1em;
}
